ion-content {
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .grid {
      width: 60%;

      ion-row {

        ion-col {
          text-align: center;
          font-size: 20px;
          transition-duration: 0.2s;

          a{
            color: black;
          }
        }

        ion-col:hover {
          background: lightsalmon;
          cursor: pointer;
        }
      }
    }
  }
}