<ion-content class="r3t-hello">
  <div class="container">
    <div class="grid">
      <ion-row>
        <ion-col>Hello ! ! !</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Welcome use AMIM constructor</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>A</ion-col>
        <ion-col>M</ion-col>
        <ion-col>I</ion-col>
        <ion-col>M</ion-col>
      </ion-row>
      <ion-row>
        <ion-col><a href="https://angular.io/">Angular2</a></ion-col>
        <ion-col><a href="https://www.meteor.com">Meteor</a></ion-col>
        <ion-col><a href="http://ionicframework.com/">Ionic2</a></ion-col>
        <ion-col><a href="https://www.mongodb.com/">MongoDB</a></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Have fun! ! !</ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>